@if(course()) {
<div class="course-card" [class]="cardClasses">
        <div class="course-title">
            {{ currentCount() + ' ' + course().title }}
        </div>
        @if(isImageVisible()) {
            <img [src]="course().iconUrl" width="300" alt="Angular Logo">
        }
        @else {
            <p>No image available!</p>
        }
        <div class="course-description">
           {{ course().description }}
        </div>
        <button (click)="courseSelected()">
            View Course
        </button>
    </div>
}
