<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

@for (pair of course1 | keyvalue; track pair.key) {
    <p>{{ pair.key + ':' + pair.value }}</p>
}
<div class="courses">
  @for (course of courses | slice:0:2; track course.id) {
    <course-card
      [course]="course"
      [index]="$index"
      (onCourseSelected)="onCourseSelected($event)"
    />
  } @empty {
    <h1>No courses found!</h1>
  }
</div>
